Tealeaves_old/
.direnv/
.#*
*.tmp
*.glob
*.vo*
*.aux
*.lia.cache
Makefile.coq.local
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
html
# Emacs lock files
.#*
# Nix files
result
# Everything in the ~ignore/~ directory
ignore/
# Ignore result of building examples with alectryon
html-examples/
/REMOVED/
trv/